# Large third-party licensed/purchased asset pack - not ours to redistribute.
# Only the specific sprites Dragon Duel actually uses are copied out (with
# clean filenames) into dragon-duel/assets/, which IS tracked.
Legacy Collection/
